fastapi
uvicorn
python-dotenv
pydantic
sqlalchemy
pymysql
motor
pymongo
redis
faiss-cpu
langchain
langchain-community
langchain-huggingface
huggingface-hub
langchain-core
langgraph
sentence-transformers
transformers
torch
accelerate
bitsandbytes
python-multipart
pypdf
python-docx
openpyxl
websockets
aiofiles
bcrypt
passlib
python-jose
redis
rank-bm25
